hr {padding: 2px; background-color: black;}
h2 {margin: 20px;}	    
h1 {text-align: center;}
h3 {width: 100px; margin: auto; float: left; text-align: center;}
#topRow {background-color: black;}
p {margin: 50px;width: 700px;}
body {font-family: Avenir;}